#Mysensors switch infomation
[switch]
#switch-uri=udp.mysensors.info
#switch-uri=192.168.1.102
switch-uri=localhost
#port=7070
port=9090
switch-name=senzswitch

[device]
device-name=client_1
owner-name=kasun

[gpio]
NightMode=13
VisitorMode=15
#Daymode=16

[senz]
s1=GET #pubkey @client_2
#s2=PUT #gpio12 ON @client_2
#s3=GET #gpio12 @client_2
#s4=GET #tp @client_2
#s2=GET #photo @client_2
#s4=PUT #gpio13 OFF @client_2
#s5=GET #key #tp #humidity #date @client_2
#s6= SHARE #doorLock @client_2
s6= SHARE #version1_door_unlock #version1_door_lock @client_2
#s6= SHARE #version5_light_on #version5_light_off #version5_light_check #version5_fan_on #version5_fan_off #version5_fan_check #version5_autolight_on #version5_autolight_off #version5_autolight_check #version5_temp_check #version5_humid_check #version5_pir_on #version5_pir_off #version5_pir_check #version5_smoke_on #version5_smoke_off #version5_smoke_check #version5_rain_on #version5_rain_off #version5_rain_check #version6_light_on #version6_light_off #version6_light_check #version6_fan_on #version6_fan_off #version6_fan_check #version6_autolight_on #version6_autolight_off #version6_autolight_check #version6_temp_check #version6_humid_check #version6_pir_on #version6_pir_off #version6_pir_check #version6_smoke_on #version6_smoke_off #version6_smoke_check #version6_vibration_on #version6_vibration_off #version6_vibration_check #version6_soilvalve_on #version6_soilvalve_off #version6_soilvalve_check #version6_soil_on #version6_soil_off #version6_soil_check @client_2
#s6= SHARE #Living1_temp_check @client_2
#s7=GET #tp #date #waterLevel #rain #wind #light #soilMoist #noise #motion @client_2
